@import "@primer/css/core/index.scss";
@import "@primer/css/markdown/index.scss";

.container {
    margin: 0 auto;
    max-width: 700px;
}

.content {
    width: 700px;
}

.markdown-body {
    .editor {
        max-height: 300px;

        .item {
            margin: 5px;
        }
    }

    .table {
        overflow: scroll;
        max-width: 500px;
    }

    table {
        // width: 100%;
        // table-layout: fixed;
        // display: table;

        // tbody {
        //     overflow-y: auto; /* Trigger vertical scroll    */
        //     overflow-x: hidden; /* Hide the horizontal scroll */
        // }

        td {
            display: table-cell;
        }
    }
}
